// Specific CSS for your home-page
.search-home {
    width: 40%;
    position: absolute;
    z-index: 99999;
    /* left: 0; */
    left: 50px;
    margin: 0 auto;
    background: white;
    border-radius: 4px;
    padding: 30px;
    /* top: 20%; */
    bottom: 50px;
}

.search-home h1, .search-home h2, .search-home h3, .search-home h4, .search-home h5, .search-home p {
  color:inherit;
}


.search-home .btn.btn-primary {

    margin-top: 6px;
}

.carousel {
    position: relative;
    height: 100vh;
    overflow: hidden;
}



@media(max-width: 992px) {
  .search-home {
    width:80%
  }
}

