<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "banner1.jpg", :class => "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner2.jpg", :class => "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner3.jpg", :class => "d-block w-100" %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    We  <i class="fas fa-heart"></i>  Super Hereos
  </div>
</div>
