<h1>Superheroes in Brussels</h1>

<div class="container">
<% @superheros.each do |superhero| %>
<div class="card">
    <div class="card-trip">
      <div class="image" style="background-image:url(<%= superhero.image %>)"></div>
      <div class="name">
        <p><%= superhero.name %></p>
      </div>
      <div class="card-trip-infos">
        <div class="text">
          <p><%= superhero.power.name %></p>
        </div>
        <div class="distance">
          <p>3km away</p>
        </div>
        <div class="price">
          <p><%= superhero.price_per_day %> euro </p>
        </div>
      </div>
    </div>

</div>
<% end %>
</div>

