<body>
      <div class="container">
        <div class="login_box">
      <h1>Add a new superhero </h1>
      <%= render 'form', superhero: @superhero, power: @power %>
      </div>
    </div>
</body>
