<div class="container">
  <div class="row">
    <div class="col-7"><h1><%= @superhero.name %></h1>
    <p class="power"><%= @superhero.power.name %>
    <p><%= @superhero.bio %></p>
  </div>
  <div class="col-4">
    <div class="heroimg" style="background:url('<%= @superhero.image %>');"></div>

  </div>
  </div>

</div>
