<div class="container-profile">
  <div class="profile-text">
    <div class="superhero-name">
      <p><%= @superhero.name %></p>
    </div>
    <div class="power">
      <p><%= @superhero.power.name %></p>
    </div>
    <div class="heo-info">
      <p><%= @superhero.bio %></p>
    </div>
  </div>
    <div class="heroimg" style="background:url(<%= @superhero.image %>)">
    </div>


</div>
