.filterbar {
  display:flex;
  background: #092333;
  justify-content: space-between;
  align-items: center;
  padding: 9px 20px;

}


.filterbar .searchform form {
  display:flex;
}

.filterbar span.label {
 color:white;
}

.search-form .btn.btn-primary {
    background-color: #e32513;
    border: 0px;
    border-radius: 20px;
    padding: 7px 38px;
    margin-left: 10px;
}
