.filterbar {
  display:flex;
  background: #092333;
  justify-content: space-between;
  align-items: center;
  padding: 9px 20px;

}


.filterbar .searchform form {
  display:flex;
}

.filterbar span.label {
 color:white;
}
