.login_box.user_profil {
  margin: 30px;
  position: relative;
  background-color: #E8D3A5;
  padding: 2rem;
  text-align: center;
  max-width: 50%;
  border-radius: 10px;
}
.container.user_profil{
  display: flex;
}
