body{
  background: #325A73;
}
.container {
  min-height: 90vh;
}

.login_box {
    margin: 60px auto 60px auto;
    position: relative;
    padding: 2rem;
    text-align: center;
    width: 80%;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
@media(max-width: 992px) {
  .login_box{
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .login_box{
    grid-template-columns: 1fr;
  }
}


.login_box h1, .login_box h2, .login_box h3, .login_box h4, .login_box h5, .login_box p {
  color:inherit;
}
