// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.heroimg {
  height:400px;
  width:100%;
  background-size:cover !important;
  background-position: center center !important;
}

a:hover{
  transition:all .3s;
 .card-image {

    background-size: 120%;


    height: 200px
}
}
h1, h2, h3, h4, h5 {
  font-family: $my-font;
  color:white;

}

h1.shadowt, h2.shadowt {
  text-shadow: 1px 1px 2px black;
}
p {
  color:white;
}

body {
background: #0b2f42;

}


a {
  color:#e32513;
  text-decoration:none;
}
a:hover {
  color:#ff4700;
  text-decoration:none;
}


.navbar-brand:hover {
  background:none;
}
